Numeric datatypes in python
1. Integer - Eg 1
2. Float - Eg 1.0
3. Complex - Eg 1+2j

A variable can be initialized without data type unlike languages like c or cpp

When considered as a boolean operand these types return false when they are zeros (0, 0.0, 0j)

In [1]:
x = 1
type(x)

int

In [2]:
y = 1.0
type(y)

float

In [3]:
z = 1+2j
type(z)

complex

Apart from traditional operations like (Arthmetic - +, -, *, / , comparision like >, < , ==, !,), python offers operations like

1. is , is not - to check object identity
2. // - floored quotient 
3. ** - power or exponent

In [29]:
print(f"Normal quotient - {5/2}")
print(f"Floored quotient - {5//2}")
print(f"Floored quotient - {-5//2}") # floored towards -infinity

Normal quotient - 2.5
Floored quotient - 2
Floored quotient - -3

In [9]:
print(f"2 to the power 10 - {2**10}")

2 to the power 10 - 1024

Some global functions available for numerical operations

In [14]:
# abs() returns the absolute value / magnitude of input number
print(f"absolute of negative number is positive - abs(-3.3) : {abs(-3.3)}")
print(f"absolute of complex number is its magnitude - abs(3+4j) : {abs(3+4j)}")

absolute of negative number is positive - abs(-3.3) : 3.3
absolute of complex number is its magnitude - abs(3+4j) : 5.0

In [19]:
# int() returns integer value of input
int(3.8)

3

In [20]:
# float() returns floating point representation of input
float(55)

55.0

In [21]:
# pow(x, y) returns x**y
pow(2, 10)

1024

In [23]:
# complex(re, img) = re+j*img
complex(1, 2) == 1+2j

True

In [25]:
# conjugate() returns complex conjugate of input
(1+2j).conjugate()

(1-2j)

In [27]:
divmod(2, 4) # return 2/4, 2%4

(0, 2)

String data types
There is no character data type in python, a char is a string of single element

In [40]:
x = 'c'
type(x)

str

In [41]:
len(x)

1

In [42]:
x += 'haracter' # append the string at the end

In [43]:
x

'character'

In [44]:
x*2 # appends x once at the end of x

'charactercharacter'

In [49]:
"variable x has {x_value} value".format(x_value=x) # this is a way of combining string and variable values

'variable x has character value'

In [50]:
f"variable x has {x} value" # this is an alternative for the same

'variable x has character value'

In [51]:
x[0] # first element of x

'c'

In [53]:
x[-2] # second element from last of x

'e'

In [ ]:
x[:3] # first three elements of x; same as x[0:3]

'cha'

In [57]:
x[2:5] # slice of x from index 2 to 4

'ara'

In [59]:
x[:-2] # x except last two elements

'charact'

Sequence types:
1. List - can have multiple data types as elements, otherwise similar to arrays in c, above string operations work on these as well
2. Tuple - immutable sequence of heterogeneous data
3. Range - immutable sequence of numbers

In [72]:
x = [1, 2.0, 'Three']
type(x)

list

In [73]:
x[-1]

'Three'

In [74]:
x*3

[1, 2.0, 'Three', 1, 2.0, 'Three', 1, 2.0, 'Three']

In [75]:
# append method needs to be used to add elements
x.append(1+2j)

x

[1, 2.0, 'Three', (1+2j)]

In [77]:
55 in x # checks if there is an element with value 55 in x

False

In [79]:
x.count('Three')

1

In [81]:
min([1, 2, 3, 45.9])

1

In [85]:
max([1, 2, 3, 45.9])

45.9

In [86]:
x.index(2.0) # first occurance of value in x

1

In [89]:
x.reverse()
x

[(1+2j), 'Three', 2.0, 1]

In [93]:
x = tuple('abc')
type(x)

tuple

In [94]:
x[0]

'a'

In [95]:
x[-1]

'c'

In [97]:
x[0]='z' # immutable

TypeError: 'tuple' object does not support item assignment

In [101]:
r = range(10)
type(r)

range

In [102]:
r

range(0, 10)

In [110]:
r[2:5]

range(2, 5)

In [108]:
1 in r

True

In [103]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
list(range(1, 20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [105]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [107]:
list(range(10, -10, -2))

[10, 8, 6, 4, 2, 0, -2, -4, -6, -8]

Dictionary is a collection of key value pairs. Keys are hashable, while their corresponding values are not (can be list, tuple, other collections)

In [112]:
d = { 'a' : 1, 'b' : 2}
type(d)

dict

In [114]:
d['b']

2

In [116]:
list(d) # returns a list of keys

['a', 'b']

In [117]:
d['a' ] = 27
d

{'a': 27, 'b': 2}

In [120]:
'b' in d # check for b in keys

True

In [121]:
d.keys()

dict_keys(['a', 'b'])

In [122]:
d.values()

dict_values([27, 2])

In [123]:
len(d)

2

In [124]:
del d['a']
d

{'b': 2}

Boolean has only two values : True, False

In [125]:
b = True
type(b)

bool

In [126]:
b == False

False

Set is a collection of unique elements - Its unordered, it has methods to implement operations like union, intersection, difference ...

In [146]:
s  = {1, 2, 2, 2, 25}
type(s)

set

In [147]:
s

{1, 2, 25}

In [148]:
s.add(3)

In [149]:
s

{1, 2, 3, 25}

In [150]:
s.remove(25)

In [151]:
s

{1, 2, 3}

In [154]:
s = s.union(set(range(1, 10)))

In [155]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [156]:
s.difference(range(1, 10, 2))

{2, 4, 6, 8}